{% extends "layout.html" %}

{% block content %}
    <h1>OCD Thought Record</h1>

    <h2>Who is this page for?</h2>
        <p>This page is designed for people undergoing therapy for OCD.</p>

        <p class="important"><b>Please be aware that the use of this page without approval from a therapist is strongly advised against.</b></p>
        
    <h2>How do I use this page?</h2>

        <p>In order to be able to use the online thought record, you must register first.</p>

        <p>Once registered, you will be able to fill in thought records and safety behaviour records. These records will be used to generate graphs showing
            your progress. You will be able to see your daily, weekly, montly and yearly progress in graphs, comparing the amount of intrusive thoughts you 
            have had against the amount of safety behaviours associated with them.</p>

        <p class="important">Be mindful that recovery is not lineal and it might take some time for the graphs to show improvement.</p>
        
{% endblock content %}
